#wrapper h1 {
	margin-bottom: 40px;
	text-transform: uppercase;
}

.title-section, .portofolio-section, .contact-section {
	height: 550px;
}

.title-section {
	background: url('../imgs/header3.jpg') no-repeat fixed top;
	background-size: cover;
}

.menu-btn {
	background-image: url("../imgs/menu-icon.png");
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	background-color: Transparent;
	border: none;
	margin-top: 10px;
}

.about-section {
	height: 100%;
	background-color: #2c3e50;
	padding: 50px 0 50px 0;
	color: white;
	font-size: 28px;
}

.portfolio-section {
	background-color: white;
	padding: 50px 0 50px 0;
}

.contact-section {
	background-color: #18bc9c;
	padding-top: 50px;
}

.contact-section button {
	width: 390px;
}

.web-title {
	margin-top: 140px;
	color: white;
}

.web-title h1 {
	font-size: 75px;
	font-weight: bold;
	text-transform: uppercase;
}

.web-title span {
	font-size: 32px;
	font-style: italic;
}

.profile-image {
	width: 350px;
	height: 350px;
	margin-right: 20px;
	margin-top: 10px;
}

.portfolio-img-preview {
	position: absolute;
	left: 50%;
	margin-left: -512px;
	display: none;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 15px;
	z-index: 999;
	background: white;
}

.portfolio-img-preview.active {
	display: block !important; 
}

.portfolio-img-preview img {
	width: 1024px;
}

.portfolio-img-desc {
	padding:15px;
}

.overlay {
	position: fixed;
	width: 100%;
	min-height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.overlay.active {
	display: block !important	
}